beautifulsoup4==4.4.1
docutils==0.12
lockfile==0.12.2
logutils==0.3.3
Mako==1.0.4
MarkupSafe==0.23
pecan==1.0.5
pluggy==0.3.1
py==1.4.31
pydub==0.16.3
PyHamcrest==1.9.0
python-daemon==2.1.1
python-vlc==1.1.2
six==1.10.0
tox==2.3.1
virtualenv==15.0.0
waitress==0.8.10
WebOb==1.6.0
WebTest==2.0.20
